@keyframes swoosh {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateNeg {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes left-swing {
  50%,
  100% {
    transform: translateX(95%);
  }
}

@keyframes right-swing {
  50% {
    transform: translateX(-95%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes swerve {
  to {
    transform: translateX(-25%);
  }
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@keyframes spin {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }

  to {
    transform: rotateY(720deg) rotateX(360deg);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse-text {
  0% {
    color: var(--color-vite-dark1);
  }
  50% {
    color: var(--color-vite1);
  }
  100% {
    color: var(--color-vite-dark1);
  }
}

@keyframes pulse-text-size {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    /* border-color: #f6e35a; */
    border-color: var(--color-vite1);
    box-shadow: 0 0 0 0 rgba(246, 227, 90, 0.8);
  }
  50% {
    /* border-color: #f8c031; */
    border-color: var(--color-vite2);
    box-shadow: 0 0 0 0.5rem rgba(248, 165, 49, 0);
  }
  100% {
    /* border-color: #f6e35a; */
    border-color: var(--color-vite3);
    box-shadow: 0 0 0 0 rgba(246, 227, 90, 0);
  }
}

@keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}